<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E_Tutor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>FacultySignupController</servlet-name>
  	<servlet-class>com.controller.FacultySignupController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FacultySignupController</servlet-name>
  	<url-pattern>/FacultySignupController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StudentSignupController</servlet-name>
  	<servlet-class>com.controller.StudentSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentSignupController</servlet-name>
  	<url-pattern>/StudentSignupController</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<servlet-class>com.controller.FacultyLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<url-pattern>/FacultyLoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StudentLoginController</servlet-name>
  	<servlet-class>com.controller.StudentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentLoginController</servlet-name>
  	<url-pattern>/StudentLoginController</url-pattern>
  </servlet-mapping>
  
</web-app>